html {height: 100%; width: 100%;}
a:hover {background-color: #5e84ff;}
a:active {background-color: #3b5ed1; color: #295bff;}
a:visited,a:hover {color: #00ffbf;}
section {text-align: center; }
nav a{margin: 20px; text-decoration: none;}
h1,h2,p {font-family: sans-serif; line-height: 20px; color:#00ffbf}
body {background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiSAm3sq0I_GSkjqlfCxe5D_a4c1X7tJG09w&usqp=CAU");
background-repeat: no-repeat;
background-size: cover;}